@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/gill-sans/Gill Sans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/gill-sans/Gill Sans Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/gill-sans/Gill Sans Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/gill-sans/Gill Sans Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/cormorant-garamond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/cormorant-garamond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/playfair-display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *=========== Default theme =========== */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #f49ca3;
    --primary-foreground: #ffffff;

    --secondary: #ff2c56;
    --secondary-foreground: #000000;

    --muted: #f4bea3;
    --muted-foreground: #000000;

    --accent: #f49ca3;
    --accent-foreground: #000000;

    --highlight: #e2cf5d;
    --highlight-foreground: #000000;

    --destructive: #f49ca3;
    --destructive-foreground: #ffffff;

    --border: #bbefe0;
    --input: #bbefe0;
    --ring: #f49ca3;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;

    --card: #000000;
    --card-foreground: #ffffff;

    --popover: #000000;
    --popover-foreground: #ffffff;

    --primary: #f49ca3;
    --primary-foreground: #ffffff;

    --secondary: #85bfd6;
    --secondary-foreground: #000000;

    --muted: #bbefe0;
    --muted-foreground: #000000;

    --accent: #e2cf5d;
    --accent-foreground: #000000;

    --highlight: #f4bea3;
    --highlight-foreground: #000000;

    --destructive: #f49ca3;
    --destructive-foreground: #ffffff;

    --border: #ff2c56;
    --input: #ff2c56;
    --ring: #f49ca3;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply inline-block;
  }
  .rdp-day_today {
    @apply bg-primary text-primary-foreground font-bold rounded-full;
  }
}
